extends layout

block content
    h2 New Message 
    form(action = 'new' method='post')
        input(type = 'text' name = 'name' placeholder = 'Your name' )
        input(type = 'text' name = 'name' placeholder = 'Your message' )
        button(type = 'submit') Submit